body{
    background-color: #282c34;
}

.canvas{
    background-color: #fff;
    color: #282c34;
    border-radius: 8px;
    margin: 30px auto 0 auto;
    padding: 20px 10px;
    border-color: black;
    box-shadow: 0 4px 10px 0 black;
}

.left-adjust{
    text-align: left;
}

.tight-margins{
    margin: 0 auto 8px auto;
}

.title{
    margin-top: 30px;
    color: #f3dec4;
}

.result {
    margin: 20px;
    font-weight: bold;
}

.btn-group button.disabled-active {
    background-color: #6c757d !important;
    color: white !important;
    pointer-events: none;
}
#submit-button{
    width: 100%;
}

.image{
    width: 80%;
    padding: 0;
    border-radius: 8px;
    margin: 30px auto 0 auto;
    box-shadow: 0 4px 10px 0 black;
}

.modal_image{
    max-width: 300px;
    border-radius: 5px;
    border-color: #6c757d;

}

.promo{
    background-color: #282c34;
    font-size: 20px;
    color: white;
    margin: auto;
    padding: 20px 10px;
    max-width: 800px;
}

.disclaimer{
    background-color: #282c34;
    font-size: 14px;
    color: white;
    margin: auto;
    padding: 20px 10px;
    max-width: 800px;
}
